<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

        <bean id="dog" class="com.zhao.pojo.Dog"/>
        <bean id="cat" class="com.zhao.pojo.Cat"/>
        <bean id="man" class="com.zhao.pojo.Man"/>

<context:annotation-config/>

</beans>